extends layout

block content
  a(href=upper) up directory
  table
    tr
      td mod
      td user
      td group
      td size
      td name
    each entry in files
      tr
        td #{entry.type}
        td #{entry.owner}
        td #{entry.group}
        td
          span=entry.size
        td
          a(href=entry.name)=entry.name
